.information {
    margin-top: 0.5vh;
    overflow: scroll;
    grid-area: 2 / 1 / 2 / 3}

    @media screen and (min-width: 680px) {
        .information {
            grid-area: 1 / 1 / 3 / 2}
    }
