.thumbNailsList {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;}

.thumbNail {
    background-color: green;
    height: 21.333vh;
    width: 1fr;
    margin-bottom: 1vh}

@media screen and (min-width: 680px) {
    .thumbNailsList {
        grid-template-columns: 1fr 1fr;}

    .thumbNail {
        margin: 1vh;}
}
    
@media screen and (min-width: 1200px) {
    
    .thumbNailsList {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr}

    .thumbNail {
        margin: 1vh;
        height: 20.666vh}
}