.thumbNailsList {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;}

    @media screen and (min-width: 680px) {
        .thumbNailsList {
            grid-template-columns: 1fr 1fr;
          }
    }
    @media screen and (min-width: 1200px) {
        .thumbNailsList {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr}
    }