footer {
    background: black;
    height: 7vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px
  }
  footer ul {
    display: inline-block;
    width: 100%;
    font-size: 2vh;
}

  footer ul li {
    display: inline-block;
    width: auto;
    font-size: 2vh;
    padding: 2vh 10vw 1vh 10vw
}

    @media screen and (min-width: 680px) {
        footer {
          height: 6vh}
        }