* {
  padding: 0;
  margin: 0;
  border: none}

.appFrame {
  background: white;
  position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  height: 98vh;
  width: 96vw}

main {
  border-top:     1vh;
  border-bottom:  1vh;
  border-left:    2vw;
  border-right:   2vw;
  border-style:   solid;
  border-color: white;
  height:         62vh;
  padding:        1vh 2vw 2vh 2vw;
  overflow:       scroll;
  display: grid}

@media screen and (min-width: 680px) {

  main {
    height: 64vh;} 
  }

@media screen and (min-width: 1200px) {

  .appFrame {
    max-width: 1000px}

  main {
    border-left:    1vw;
    border-right:   1vw;
    border-style:   solid;
    border-color: white;
    padding:        1vh 1vw 1vh 1vw;}}